.chart {
    flex: 4;
    padding: 1rem 1.5rem;
    color: grey;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .title {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .chartGrid {
        stroke: lightgrey;
    }
}