.datatable {
    height: 600px;
    padding: 1.5rem;

    .cellWithImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
            color: green;
            background-color: rgba(0,128,0,0.05);
        }

        &.pending {
            color: goldenrod;
            background-color: rgba(255,217,0,0.05);
        }

        &.passive {
            color: crimson;
            background-color: rgba(255,0,0,0.05);
        }
    }

    .cellAction {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
            color: darkblue;
            border: 1px dotted rgba(0,0,139,0.596);
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
            color: crimson;
            border: 1px dotted rgba(220,20,60,0.6);
        }
    }
}